* {

  margin: 0;
  padding: 0;
}


/* todolist.php */

button {
    background-color: white;
    border: 1px  #0082b0;
    color: black;
    width: 20%;
}

button:hover{
  background-color: blue;
  color:white;
  width: 20%;
}

body {

  font-size: 20px;
}

h3 {

}

/*---------------------------------------------------------------------*/
