* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*HEADER*/
header{
  background: #026aa7;
  color: white;
}
.navbar{
  background: #026aa7!important;
  color: white!important;
  margin-left: auto!important;
}
.navbar a{
  color: white!important;
  letter-spacing: 1px;
  font-weight: 500;
}

.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/**INDEX**/

.main_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.main_form h1{
  padding: 0.5em;
}
.main_form section{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}
.main_form form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;

}
.form-group{
  width:50%
}
#btn_connect, #btn_register{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}


button {

color:black;
background-color: none;
}


/**FOOTER**/

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background:  #026aa7;
  color: white;
}
.footer_container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer_container div{
  width: 30%;
}
.containers_foot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social_media_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
#insta::before{
  font-family: 'fontello';
  content: 'i';
  font-size: 1.5em;
  color: white;
}
#facebook::before{
  font-family: 'fontello';
  content: 'f';
  font-size: 1.5em;
  color: white;
}
#twitter::before{
  font-family: 'fontello';
  content: 't';
  font-size: 1.5em;
  color: white;
}
.icons{
  transition: 1s;
}
.icons:hover{
  transform: scale(1.3);
}
.contact_us{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact::before{
  font-family: 'fontello';
  content: 'm';
  font-size: 1.5em;
  color: white;
}

/** TO DO LIST FORM **/

#addform{
  display: none;
}

.list_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.lists{
  width: 20%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #026aa7 ;
  margin: 1em;

}
.lists a{
  color: white;
  font-size: 2em;
}